i{
	font-weight:bolder;
}

.game_card_list{
	height:300px;
	width:300px;
	border-radius:18px;
	border: 7px black solid;
	border-right: 9px black solid;
	display:block;
	background-color:black;
	transform:scale(0.9);
/*    margin-right: -60px;*/
	position:relative !important;
	margin-bottom:0;
	pointer-events: auto;
	outline:none;
}

.game_card_board{
	height:300px;
	width:300px;
	border-radius:18px;
	border: 7px black solid;
	border-right: 9px black solid;
	display:block;
	background-color:black;
	transform:scale(0.1833);
/*    margin-right: -60px;*/
	position:relative;
	margin-bottom:0;
	pointer-events: auto;
	outline:none;
	top:-130px;
	left:-132px;
}


.game_card_hand{
	height:300px;
	width:300px;
	border-radius:18px;
	position:relative;
	border: 7px black solid;
	border-right: 9px black solid;
	display:inline-block;
	background-color:black;
	transform:scale(0.6);
/*    margin-right: -60px;*/
	margin-right:-200px; 
	transition: 0.225s ease-in-out; 
	margin-bottom:0;
	pointer-events: auto;
}

.game_card_hand:hover{
	transform:scale(1) translate(130px,-60px);
	cursor:pointer;
	margin-left:0px;
	margin-right:0px;
	z-index:7;
}

.game_card_hand:focus{
	transform:scale(1) translate(130px,-60px);
	cursor:pointer;
/*	box-shadow: 0 0 30px lightgreen; */
	margin-left:0px;
	margin-right:0px;
	z-index:5;
	outline:none;
/*	outline-color:rgba(50,205,50,.85); */
	border-color: rgba(50,205,50,.85);
	background-color: rgba(50,205,50,.85);
}

.card_classification{
	height:50px;
	width:50px;
	border-radius:15px;
	position:absolute;
	top:-1px;
	left:7px;
	z-index:5;
}

.green_card{
	background-image:url("../ATS_Images/Card_Details/green_card_border.png");
	background-size:cover;
	height:100%;
	width:100%;
	position:absolute;
	z-index:4;
	
}

.yellow_card{
	background-image:url("../ATS_Images/Card_Details/yellow_card_border.png");
	background-size:cover;
	height:300px;
	width:300px;
	position:absolute;
	z-index:4;
}

.purple_card{
	background-image:url("../ATS_Images/Card_Details/purple_card_border.png");
	background-size:cover;
	height:300px;
	width:300px;
	position:absolute;
	z-index:4;
}

.red_card{
	background-image:url("../ATS_Images/Card_Details/red_card_border.png");
	background-size:cover;
	height:300px;
	width:300px;
	position:absolute;
	z-index:4;
	animation: glow 5s ease-in-out infinite;
}

.blue_card{
	background-image:url("../ATS_Images/Card_Details/blue_card_border.png");
	background-size:cover;
	height:300px;
	width:300px;
	position:absolute;
	z-index:4;
}

.blue_class{
	background-image:url("../ATS_Images/Card_Details/blue_category.png");
	background-size:cover;
	animation: glow 5s ease-in-out infinite;
}

.green_class{
	background-image:url("../ATS_Images/Card_Details/green_category.png");
	background-size:cover;
	animation: glow 5s ease-in-out infinite;
}

.red_class{
	background-image:url("../ATS_Images/Card_Details/red_category.png");
	background-size:cover;
	animation: glow 5s ease-in-out infinite;
}

.purple_class{
	background-image:url("../ATS_Images/Card_Details/purple_category.png");
	background-size:cover;
	animation: glow 5s ease-in-out infinite;
}

.yellow_class{
	background-image:url("../ATS_Images/Card_Details/yellow_category.png");
	background-size:cover;
	animation: glow 5s ease-in-out infinite;
}

.grey_class{
	background-image:url("../ATS_Images/Card_Details/grey_category.png");
	background-size:cover;	
	animation: glow 5s ease-in-out infinite;
}

.card_title{
	height:25px;
	width:calc(100% - 40px);
	border-radius:15px;
	position:absolute;
	width:260px;
	top:11px;
	left:20px;
	background-color:lightgrey;
	z-index:2;
	box-sizing:border-box;
	border: black thin solid;
	opacity: 0.75;
	padding-left:40px;
	padding-top:2.5px;
	font-size:14px;
}

.card_image{
	height:293px;
	width:293px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:1;
	background-size: cover;
	border-radius:8px;
	box-shadow: 2px 2px 10px black;
}

.card_ccost{
	height:47px;
	width:51px;
	position:absolute;
	left: 237px;
	top:2px;
/*	background-color:red; */
	z-index:5;
/*	border-radius:20px; */
	background-image:url("../ATS_Images/Card_Details/persepctivecoin2.png");
	background-size: cover;
	text-align: center;
	box-sizing: border-box;
	padding-top: 5px;
	padding-left:1px;
	font-size: 25px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	animation: glow 2.1s ease-in-out infinite;
}

.card_pcost{
	height:60px;
	width:60px;
	position:absolute;
	left: 232px;
	top:45px;
	z-index:3;
	border-radius:20px;
	background-image:url("../ATS_Images/Card_Details/cube2.png");	
	background-size: cover;
	animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow{
	0% {filter:brightness(1);}
	50% {filter: brightness(1.15);}
	100% {filter: brightness(1);}
}


/* FIX THIS TO BE MORE RELIABLE*/
.card_pcost:nth-child(even){
	top:95px;
}

.maxbox{
	height:20px;
	position:relative;
	top:200px;
	left:12px;
	border-radius:5px;
	box-sizing: border-box;
	border: 1px black solid;
	box-shadow: 2px 2px 10px black;
	padding:0;
	position:absolute;
	z-index:6;
	padding-right:1.5px;
}

.maxBoxInner{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position: absolute;
	top:0;
	background-color:blue;
	border-radius:3px;
	box-sizing: border-box;
	opacity:0.75;
	z-index:-1;
}

.maxbox b{
	font-size: 10px;
	font-weight: strong;
	padding:0;
	padding-right:1.5px;
	margin:3px 0px 0px 3px;
	display:inline-block;
	position:relative;
	top:-1px;
}

.maxPlayable{
	padding-top:2px;
	padding-left:5.2px;
	box-sizing:border-box;
	display:inline-block;
	font-size:8px;
	position:relative;
	margin-right:1.5px;
	margin-left:1.5px;
	top:-2px;
	background-image : url("../ATS_Images/Card_Details/max_card.png");
	background-size: cover;
	height:15px;
	width:15px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.pointModifier{
	top: -3px;
	padding:2.5px;
	font-size:8px;
	position:relative;
	background-image : url("../ATS_Images/Card_Details/vp.png");
	background-size: cover;
	height:30px;
	width:30px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
	white-space:pre;
}

.card_category{
	padding-left:7px;
	font-size:14px;
	padding-bottom:3px;
	padding-top:1px;
	padding-right:5px;
	height:15px;
	width:10px;
	position:absolute;
	top:220px;
	left:277px;
	z-index:6;
	background-image : url("../ATS_Images/Card_Details/card_category_symbol.png");
	background-size: cover;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.distanceModifier{
	top: -3px;
	padding:2.5px;
	font-size:8px;
	position:relative;
	background-image : url("../ATS_Images/Card_Details/distance.png");
	background-size: cover;
	height:40px;
	width:40px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
	white-space:pre;
}

.pointModifier2{
	top: 0px;
	white-space:pre;
	padding:2.5px;
	display: inline-block;
	font-size:8px;
	position:relative;
	background-image : url("../ATS_Images/Card_Details/vp.png");
	background-size: cover;
	height:7px;
	width:7px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.creditModifier{
	top: -3px;
	padding:2.5px;
	font-size:8px;
	position:relative;
	background-image : url("../ATS_Images/Card_Details/coin2.png");
	background-size: cover;
	height:30px;
	width:30px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.creditModifier2{
	top: -3px;
	padding:2.5px;
	font-size:8px;
	position:relative;
	padding-left:5px;
	padding-right:5px;
	display:border-box;
	background-image : url("../ATS_Images/Card_Details/coin2.png");
	background-size: cover;
	height:30px;
	width:30px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.maxPoints{
	padding-top:2px;
	padding-left:2px;
	box-sizing:border-box;
	display:inline-block;
	font-size:8px;
	position:relative;
	margin-left:1.5px;
	margin-right:1.5px;
	top:-2px;
	background-image : url("../ATS_Images/Card_Details/vp.png");
	background-size: cover;
	height:15px;
	width:15px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.card_egmode{
	background-color:yellow;
}

.card_igmode{
	background-color:lightgrey;
}

.desc_box{
	width:278px;
	height:64px;
	position:absolute;
	top:225px;
	left:12px;
	z-index:3;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px black solid;
	box-shadow: 3px 3px 10px black;
	opacity:0.75;
}

.midSpacer{
	position:absolute;
	left:calc(50% - 10px);
}

.card_vp{
/*	background-color:blue; */
	left:20px;
	top:232px;
	height:50px;
	width:50px;
	position:absolute;
	border-radius:15px;
	background-image : url("../ATS_Images/Card_Details/vp.png");
	background-size: cover;	
	z-index:6;
	box-sizing:border-box;
	padding-top:11px;
	padding-left:20px;
	font-size: 18px;
	color:white;
	font-weight:800;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	animation: glow 5s ease-in-out infinite;
}

.card_description{
	position:absolute;
	left: 75px;
	top:230px;
	width:200px;
	height:55px;
	z-index:6;
	word-wrap: break-all;
	white-space:normal;
	font-size: 10px;
	line-height:15px;
	display: flex;
	justify-content: left;
	align-items: center;
    text-shadow:
        0.05em 0 #adadad,
        0 0.05em #adadad,
        -0.05em 0 #adadad,
        0 -0.05em #adadad,
        -0.05em -0.05em #adadad,
        -0.05em 0.05em #adadad,
        0.05em -0.05em #adadad,
        0.05em 0.05em #adadad;
}

#draggableCardArea{
	display:none;
	height:50px;
	width:50px;
	position:fixed;
}