html, body {margin: 0; height: 100%; overflow: hidden}

html {
  touch-action:none;
}

.zoomButton{
	background-color:rgba(0,0,0,0.3);
	height:20px;
	width:20px;
	box-sizing:border-box;
	padding-top:0px;
	border-radius: 50%;
	border: thin lightgrey solid;
	position:absolute;
	left:200px;
	color:white;
	display:none;
	z-index:10;
}

#mapZoomOut{
	bottom:60px;
	padding-left:6px;
}

#mapZoomIn{
	bottom:20px;
	padding-left:4px;
}


#gameProgressBox{
	position:absolute;
	top:60px;
	left:10px;
	background-color:rgba(0,0,0,0.3);
	z-index:100;
}

.gameProgressBoxInner{
	color:white;
	margin:5px;
	font-size:x-small;
	display:inline-block;
}

#waitingBox{
	display:none;
	padding:5px;
	color:white;
	font-size:x-small;
	z-index:100;
	top:85px;
	left:10px;
	position:absolute;
	background-color:rgba(0,0,0,0.3);
}

.posScoreDelta{
	color:limegreen;
}

.negScoreDelta{
	color:red;
}

.loadingContainer{
  background-color:black;
  height:calc(100vh -  env(safe-area-inset-bottom, 0px));
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  animation-name: loadingCover;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: loadingCover;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  z-index:999;
}

@keyframes loadingCover{
  0%{opacity:1;}
  100%{opacity:0; display:none;  pointer-events:none;}
}

@-webkit-keyframes loadingCover{
  0%{opacity:1;}
  100%{opacity:0; display:none;  pointer-events:none;}
}

.gameLogEntry{
	text-align:left;
	display:block;
    text-indent: 30px;
	margin-left:20px;
	font-size:small;
	padding-top:4px;
}

.gameLogEntry:first-line {
	  text-indent: -10px;
}

#topBar{
	width:100vw;
	position:fixed;
	right:0px;
	margin:0;
	height:45px;
	padding-top:5px;
	background-color:slategrey;
	font-size:15px;
	z-index:30;
}

#gameTitle{
	float:left;
	font-weight:900;
	padding-left: 20px;
	padding-top:10px;

}

#gameID{
	float:left;
	padding-left:5px;
	padding-top:10px;
}

#game_background{
	background-image: url("../ATS_Images/Artwork/Splash/sp2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	z-index:0;
	position:fixed;
	left:0;
	top:0;
	width: 100vw;
	height:100vh;
}

.topBarButtonContainer{
	float:right !important;
}

.cardListHeader{
	color:white; 
	font-size:25px; 
	text-align:center;
	background-color:rgba(198,198,198,0.7);
	padding:10px;
	border-radius:5px;
}

.topBarButtons{
	display:block;
	border:black thin solid;
	outline:none;
	cursor:pointer;
	font-weight:900;
	width:75px;	
	margin-left:12px;
	margin-top: 0px;
	margin-right:12px;
	background-color: slategray;
}

.topBarButtons:active{
	background-color:lightslategrey;
}

#otherPlayerArea{
	display:flex;
}

#playerHandModal{
	position:fixed;
	right:450px;
	bottom: 260px;
	white-space:no-wrap !important;
	text-align:left !important;
	display:flex;
	justify-content: flex-end;
	pointer-events:none;
/*	float:right;
	width: calc(100vw - 450px);
	*/
}

#rCModal{
	display:none;
	position:fixed;
	height:10px;
	width:10px;
	top: calc(50vh - 250px);
	left: calc(50vw - 180px);
	background-color:rgba(47, 79, 79,0.7);
	z-index:30;
	margin:0px;
	padding:0px;
}

#a::-webkit-scrollbar {
    display: none;
}

#objArea{
	position:fixed;
	height:calc(100vh - 50px);
	top:50px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	left: calc(100vw - 300px);
	width:300px;
	z-index:10;
	background-color:rgba(47, 79, 79,0.7);
}

#infoArea{
	position:fixed;
	height:calc(100vh - 50px);
	top:50px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	left: calc(100vw - 300px);
	width:300px;
	z-index:10;
	background-color:rgba(47, 79, 79,0.7);
	overflow:auto;
}

#gameArea{

}

#endEarlyButton{
	display:none;
	position:absolute;
	height:30px;
	width: 150px;
	text-align:center;
	padding:5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color:red;
	top: 50px;
	left: calc(50% - 150px)
}


#discardArea{
	position:absolute;
	top:50px;
	background-color:none;
	z-index:20;
	display:none;
	flex-wrap:wrap;
	overflow-y: auto;
	justify-content: center;
	align-content :flex-start;

}

.gameMat{
	width: calc(100vw - 300px);
	height:calc(100vh - 50px -  env(safe-area-inset-bottom, 0px));
}

#cardListArea{
	position:absolute;
	top:50px;
	background-color:none;
	z-index:20;
	display:none;
	flex-wrap:wrap;
	overflow-y: auto;
	justify-content: center;
}

#gridReset{
	position:fixed;
	top:calc(50vh);
	right:277px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:20px;
	background-color:green;
	transform:rotate(-90deg);
	direction:ltr;
	font-size:10px;
	color:black;
	background-color:rgba(198,198,198,0.7);
	opacity:0.6;
	transition: 0.5s color linear;
	cursor:pointer;
	z-index:1;
}

#gridReset:hover{
	opacity:1;
	color:cyan;
	}

#discardForCurrencyBox{
	bottom:350px;
}

#discardForPowerBox{
	bottom:235px;
}

#conflictCardPlaceBox{
	bottom:465px;
}

.discardBox{
	height:100px;
	width:100px;
	position:absolute;
	left:10px;
	background-color:rgba(255,255,255,0.6);
	border: rgba(255,255,255,0.3) thin solid;
	text-align:center;
	display:inline-block;
	word-break: break-word;
	white-space: pre-wrap;
	padding: 5px; 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding-top:30px; 
	display:none;
}

.discardBoxPlaced{
	padding:0;
	white-space:initial;
	word-break:initial;
}

.discardBox:hover{
	background-color:rgba(0,255,255,0.6);
}

.modalScreen{
	position:fixed;
	height:100vh;
	width:calc(100vw - 300px);
	z-index: 50;
	justify-content: center;
	align-items:center;
}

#businessOfficeScreen{
	display:none;
}

#turnConfirmationScreen{
	display:none;
}

.dialogueBox{
	display:block;
	position:relative;
/*	height:150px; */
	padding-bottom:75px;
	padding-top:25px;
	width:400px;
	background-color:rgba(0,0,0,0.5);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: white thin solid;
}

.confirmationBox{
	width:75px;
	height:25px;
	position:absolute;	
	bottom: 30px;
}

#turnConfirmationBoxConfirmation{
	left: 100px;
}

#turnConfirmationBoxCancel{
	right: 100px;
}

#businessOfficeRangeValue{
	color:white;
	position:absolute;
	width: 50px;
	height: 50px;
	left: 192px;
	top:110px;
}

#businessOfficeRange{
	position: absolute;
	left:130px;
}

#businessOfficeConfirmation{
	position:relative;
	left:160px;
	top:50px;
}

.dialogueBoxInnerText{
	color:white;
	width:300px;
	position:relative;
	text-align:center;
	word-wrap:break-word;
	white-space: pre-wrap;
	left:50px;
	margin-bottom:10px;
}

#embassyOfficeScreen{
	display:none;
}

#conflictScreen{
	display:none;
}

.playerRadioContainer{
	position: relative;
	width:75px;
	height:25px;
	left:calc(50% - 33px);
}

.playerRadioNameLabel{
	position: absolute;
	color:white;
	text-align:left;
	left:calc(50% - 20px);
}

#embassyOfficeConfirmation{
	margin-top:0px;
	left:160px;
}

#conflictConfirmation{
	margin-top:0px;
	left:160px;
}

@media only screen and (max-height: 700px) {
	#discardForCurrencyBox{
		bottom: 235px;
		left: 100px;
	}
	.discardBox{
		padding-top:25px;
		font-size: small;
		height:80px;
		width:80px;
	}
	.game_card_discard{
		height:300px;
		width:300px;
		border-radius:18px;
		border: 7px black solid;
		border-right: 9px black solid;
		display:block;
		background-color:black;
		transform:scale(0.25);
		position:absolute !important;
		top: -118px;
		left: -119px;
		margin-bottom:0;
		pointer-events: auto;
		outline:none;
	}
	#conflictCardPlaceBox{
		bottom: 235px;
		left: 200px;
	}
}