.loadingContainer{
  background-color:black;
  height:100vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  animation-name: loadingCover;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index:999;
}

@keyframes loadingCover{
  0%{opacity:1;}
  100%{opacity:0; display:none;  pointer-events:none;}
}

#topBar{
	width:100vw;
	position:fixed;
	right:0px;
	margin:0;
	height:45px;
	padding-top:5px;
	background-color:slategrey;
	font-size:15px;
	z-index:30;
}

#gameTitle{
	float:left;
	font-weight:900;
	padding-left: 20px;
	padding-top:10px;

}

#gameID{
	float:left;
	padding-left:5px;
	padding-top:10px;
}

#game_background{
	background-image: url("../ATS_Images/Artwork/Splash/sp2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	z-index:0;
	position:fixed;
	left:0;
	top:0;
	width: 100vw;
	height:100vh;
}

.topBarButtonContainer{
	float:right !important;
}

.cardListHeader{
	color:white; 
	font-size:25px; 
	text-align:center;
	background-color:rgba(198,198,198,0.7);
	padding:10px;
	border-radius:5px;
}

.topBarButtons{
	display:block;
	border:black thin solid;
	outline:none;
	cursor:pointer;
	font-weight:900;
	width:75px;	
	margin-left:12px;
	margin-top: 0px;
	margin-right:12px;
	background-color: slategray;
}

.topBarButtons:active{
	background-color:lightslategrey;
}

#otherPlayerArea{
	display:flex;
}

#playerHandModal{
	position:fixed;
	right:450px;
	top: calc(100vh - 260px);
	white-space:no-wrap !important;
	text-align:left !important;
	display:flex;
	justify-content: flex-end;
	pointer-events:none;
/*	float:right;
	width: calc(100vw - 450px);
	*/
}

#rCModal{
	display:none;
	position:fixed;
	height:10px;
	width:10px;
	top: calc(50vh - 250px);
	left: calc(50vw - 180px);
	background-color:rgba(47, 79, 79,0.7);
	z-index:30;
	margin:0px;
	padding:0px;
}

#a::-webkit-scrollbar {
    display: none;
}

#objArea{
	position:fixed;
	height:calc(100vh - 50px);
	top:50px;
	box-sizing: border-box;
	left: calc(100vw - 300px);
	width:300px;
	z-index:10;
	background-color:rgba(47, 79, 79,0.7);
}

#infoArea{
	position:fixed;
	height:calc(100vh - 50px);
	top:50px;
	box-sizing: border-box;
	left: calc(100vw - 300px);
	width:300px;
	z-index:10;
	background-color:rgba(47, 79, 79,0.7);
	overflow:auto;
}

#gameArea{

}

#discardArea{
	position:absolute;
	top:50px;
	background-color:none;
	z-index:20;
	display:none;
	flex-wrap:wrap;
	overflow-y: auto;
	justify-content: center;
	align-content :flex-start;

}

.gameMat{
	width: calc(100vw - 300px);
	height:calc(100vh - 50px);
}

#cardListArea{
	position:absolute;
	top:50px;
	background-color:none;
	z-index:20;
	display:none;
	flex-wrap:wrap;
	overflow-y: auto;
	justify-content: center;
}

#gridReset{
	position:fixed;
	top:calc(50vh);
	right:277px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	box-sizing:border-box;
	height:20px;
	background-color:green;
	transform:rotate(-90deg);
	direction:ltr;
	font-size:10px;
	color:black;
	background-color:rgba(198,198,198,0.7);
	opacity:0.6;
	transition: 0.5s color linear;
	cursor:pointer;
	z-index:1;
}

#gridReset:hover{
	opacity:1;
	color:cyan;
	}